<html>
   <!-- Head -->
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link href="sysfssrc://bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="sysfssrc://bootstrap-5.0.2/css/bootstrap-icons.css">
      <link rel="stylesheet" href="sysfssrc://footable/css/footable.core.css">
      <link rel="stylesheet" href="sysfssrc://croppic/croppie.min.css">
      <link rel="stylesheet" type="text/css" href="sysfssrc://css/toastify.min.css">
      <link href="sysfssrc://css/animated.min.css" rel="stylesheet">
      <link href="sysfssrc://css/loading.css" rel="stylesheet">
      <link href="./css/themes.css" rel="stylesheet">
      <link href="./css/index.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="sysfsapp://node_modules/toastify-js/src/toastify.css">

      <link id="custom-theme-stylesheet" href="" rel="stylesheet">
      <style id="sAnimationDr"></style>
   </head>

   <!-- Body -->
   <body class="full-page">

      <div id="MenuBar" class="MenuBar"><div class="MenuBarDTile"><img src="sysfssrc://img/UDIx512.png"><a class="MenuBarTitle" href="#">Under Deck</a></div><div class="MenuButtons"><button type="button" class="minimize"></button><button type="button" class="maximize"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><rect x="4" y="6" width="18" height="14" rx="1" stroke="white" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></svg></button><button type="button" class="close"></button></div></div>

      <div class="THCG-BGG full-page"></div>

      <div id="PostPreload" class="full-page" style="display: none;">
         <div id="theme-bckI" class="THCG-CTV full-page" style="display: none;"><video style="display: none;" autoplay loop muted plays-inline><source src="" type="video/mp4"></video><img src="" style="display: none;"></div>
         
         <main class="full-page d-flex flex-nowrap">
            <div id="DSideBar" class="d-flex flex-nowrap"></div>
            <div id="DContaienrs" class="d-flex flex-nowrap w-fill-available"></div>
         </main>

         <div id="Modals" class="bg-srt-modal modals"></div>
      </div>

      <div id="PreloadApp" class="Dpreload-app full-page dr-flex none-curso-selection-drag justify-center items-center"><div class="loader-4567"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66 66" height="100px" width="100px" class="spinner-4567"><circle stroke="url(#gradient)" r="20" cy="33" cx="33" stroke-width="1" fill="transparent" class="path-4567"></circle><linearGradient id="gradient"><stop stop-opacity="1" stop-color="#8f00f4" offset="0%"></stop><stop stop-opacity="0" stop-color="#af3dff" offset="100%"></stop></linearGradient></svg></div></div>

      <div id="TempContents" style="display: none;"></div>
   </body>

   <!-- Scripts -->
   <script src="sysfssrc://jquery/jquery-3.7.1.min.js"></script>
   <script src="sysfssrc://jquery/jquery.min.js"></script>
   <script src="sysfssrc://jquery/jquery-ui.min.js"></script>
   <script src="sysfssrc://jquery/jquery.mask.min.js"></script>
   <script src="sysfssrc://croppic/croppie.min.js"></script>
   <script src="sysfssrc://bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
   <script src="sysfssrc://bootstrap-5.0.2/js/bootbox.min.js"></script>
   <script src="sysfssrc://footable/js/footable.all.min.js"></script>
   <script src="sysfssrc://jquery/modalLoading.js"></script>
   <script src="sysfsapp://node_modules/toastify-js/src/toastify.js"></script>
   <script src="sysfssrc://js/toaster.js"></script>
   <script src="./js/topmenu.js"></script>
   <script src="./js/module-loader.js" type="module"></script>
</html>