<div class="container container-hide-control container-updates mt-1 mb-1 animate__animated container-animated-style" style="display: none;">
   <div class="THCG-CT full-h container rounded px-3 py-3" id="featured-3">
      <div class="auto-scrool">
         <h2 class="pb-2 border-bottom updates_text_icon"></h2>


         <div class="row mt-1 g-4 py-2 row-cols-1 row-cols-lg-1">
            <div class="p-2 m-0 d-flex">
               <div class="ml-1">
                  <input class="form-check-input" type="checkbox" id="autoupdateonestart">
                  <label class="form-check-label autoupdate_text" for="autoupdateonestart"></label>
               </div>
            </div>

            <div class="p-2 m-0 w-50">
               <div class="ml-1">
                  <h3 class="pb-2"><span class="version_cuttent_text"></span>: <a
                        class="a cursor-pointer version_app">N/A</a></h3>
               </div>
            </div>
            <div class="p-2 m-0 float-end w-50">
               <button type="button" id="button-search-updates"
                  class="btn float-right-c btn-warning mr-10px search_updates_text"></button>
            </div>

            <div style="display: none;" class="p-2 m-0 percent_download_update_app">
               <div class="ml-1">
                  <h4 class=""><span class="download_percentage_text"></span>: <a
                        class="a cursor-pointer percent_download_app_update">10%</a></h4>
               </div>
            </div>

            <div class="feature mt-0 col">
               <div class="ml-1">
                  <div class="alert alert-por-local-server-modal alert-danger hidden" role="alert"></div>
               </div>
            </div>

            <div class="feature mt-0 col">
               <div class="ml-1">
                  <div class="card none-border bg-dark">
                     <div class="card-header" id="headingUpdates">
                        <h5 class="mb-0">
                           <button class="btn btn-dark versions_on_github_text full-w" data-toggle="collapse"
                              data-target="#collapseUpdates" aria-expanded="true"
                              aria-controls="collapseUpdates">
                           </button>
                        </h5>
                     </div>

                     <div id="collapseUpdates" class="collapse" aria-labelledby="headingUpdates"
                        data-parent="#accordion">
                        <div class="card-body" id="webViewUpdatesGitHub">

                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>