<div class="container container-hide-control container-settings mt-1 mb-1 animate__animated container-animated-style" style="display: none;">
   <div class="THCG-CT full-h container rounded px-3 py-3" id="featured-3">
      <div class="auto-scrool">
         <h2 class="pb-2 border-bottom d-flex settings_text_icon_HVRT"></h2>

         <div class="cards-area aos-init aos-animate" data-aos="fade-down">
            <div class="row">

               <div class="col-md-12 col-xl-12 animate__animated animate__slideInDown">
                  <div class="card theme-card">
                     <div class="card-header shadow-text text-center">
                        <h5 class="general_text "></h5>
                     </div>

                     <div class="card-body">

                        <div class="forms">

                           <div class="checks mb-3">

                              <div class="form-check form-switch">
                                 <input class="form-check-input" type="checkbox" role="switch" id="key-macro">
                                 <label class="form-check-label keys_macro_text" for="key-macro"></label>
                              </div>

                              <div class="form-check form-switch">
                                 <input class="form-check-input" type="checkbox" role="switch" id="start-with-system">
                                 <label class="form-check-label Start_with_windows_text" for="start-with-system"></label>
                              </div>

                              <div class="form-check form-switch">
                                 <input class="form-check-input" type="checkbox" role="switch"
                                    id="notifications_on_windows">
                                 <label class="form-check-label notifications-on-windows"
                                    for="notifications_on_windows"></label>
                              </div>

                              <div class="form-check form-switch">
                                 <input class="form-check-input" type="checkbox" role="switch"
                                    id="isMinimizeToBar">
                                 <label class="form-check-label Hide_screen_when_close_text"
                                    for="isMinimizeToBar"></label>
                              </div>

                           </div>

                           <div class="select">
                              <label class="form-check-label language_text" for="s-languages"></label>
                              <div class="input-group">
                                 <div class="input-group-text p-1">
                                    <img class="icone-selected-lang m-1" src="">
                                 </div>
                                 <select id="s-languages" class="form-select s-languages">
                                 </select>
                              </div>

                           </div>
                        </div>

                     </div>
                  </div>
               </div>

               <div class="col-md-12 col-xl-12 animate__animated animate__slideInDown">
                  <div class="card theme-card">
                     <div class="card-header shadow-text text-center">
                        <h5 class="underdeckcloud_icon "></h5>
                     </div>

                     <div class="card-body">

                        <div class="forms">

                           <div class="input m-1 px-0 d-flex justify-content-between form-switch">
                              <div class="d-grid">
                                 <label class="form-check-label Enable_cloud_integrations"></label>
                                 <label
                                    class="form-check-label By_enabling_you_agree_to_send_your_data_to_the_cloud"></label>
                              </div>
                              <input class="form-check-input xl" type="checkbox" role="switch"
                                 id="isEnableCloudIntegrations">
                           </div>

                           <hr>

                           <div id="DVIL_percentage_cloud" class="input m-1 px-0 d-flex justify-content-start hidden">
                              <label class="form-check-label sync-percentage"></label>
                              <label class="form-check-label l_percentage_cloud"></label>
                           </div>
                           <div class="input p-1 progressBarCloud" style="display: none;">
                              <div class="progress">
                                 <div id="DprogressBarCloud"
                                    class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                    role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                 </div>
                              </div>
                           </div>

                           <div class="input d-flex w100">
                              <button id="BTN_cloud_stc"
                                 class="btn btn-primary m-1 Sync_to_cloud_icon full-w"></button>
                              <button id="BTN_cloud_sfc"
                                 class="btn btn-danger m-1 Sync_from_cloud_icon full-w"></button>
                              <button id="BTN_cloud_dcs"
                                 class="btn btn-danger m-1 Delete_Cloud_Settings_icon full-w"></button>
                           </div>

                           <hr>

                           <div class="input w100 p-1">
                              <button ID="IMPORTLOCALFILECONFIGS" class="btn btn-primary Import_settings_from_a_local_file_icon full-w"></button>
                              <button id="UNDEXPORTFILECF"
                                 class="btn btn-success mt-1 Export_settings_to_a_local_file_icon full-w"></button>
                           </div>

                        </div>

                     </div>
                  </div>
               </div>

               <div class="col-md-12 col-xl-12 animate__animated animate__slideInDown">
                  <div class="card theme-card">
                     <div class="card-header shadow-text text-center">
                        <h5 class="overlay_icon"></h5>
                     </div>

                     <div class="card-body">

                        <div class="forms">

                           <div class="input m-1 px-0 d-flex justify-content-between form-switch">
                              <div class="d-grid">
                                 <label class="form-check-label Activate_overlay"></label>
                              </div>
                              <input class="form-check-input xl" type="checkbox" role="switch"
                                 id="isActivateOverlay">
                           </div>

                           <hr>
                           <div class="input m-0 px-0 d-flex justify-content-between form-switch">
                              <label class="form-check-label key_macro_text"></label>
                           </div>
                           <div class="input m-1 px-0 d-flex justify-content-between form-switch">
                              <button id="key-overlay" class="form-control border-0 edit_shortcut_text hover-color-primary bg-dark text-white"></button>
                              <button class="form-control key-overlay-r border-0 hover-color-primary bg-secondary text-white"></button>
                           </div>

                        </div>

                     </div>
                  </div>
               </div>

            </div>
         </div>

      </div>
   </div>
</div>