<div class="container container-hide-control container-discord mt-1 mb-1 animate__animated container-animated-style" style="display: none;">
   <div class="THCG-CT full-h container rounded px-3 py-3" id="featured-3">
      <div class="auto-scrool">
         <h2 class="pb-2 border-bottom discord_icon_text Svg30px"></h2>


         <div class="cards-area aos-init aos-animate mb-3" data-aos="fade-down">
            <div class="row">

               <div class="col-md-12 col-xl-16 animate__animated">
                  <div class="card theme-card">
                     <div class="card-header shadow-text">
                        <span class="discord_integration_ipc_text h5"></span>
                        <button
                           class="btn btn-success btn-sm float-end hover-pulse-grean btn-success connect-discord"
                           type="button" id="button-login-discord-rpc"></button>
                     </div>

                     <div class="card-body">
                        <div class="alert apobswbs alert-danger hidden" role="alert"></div>

                        <div class="forms d-flex">
                           <div class="input mb-1 w-50">
                              <label class="col-form-label p-0 discordProfile_text"></label>
                              <div class="input-group">
                                 <a class="d-flex align-items-center text-decoration-none">
                                    <img src="sysfssrc://img/profile-icon.png" alt="" width="50" height="50"
                                       class="DC_usericon MM rounded-circle me-2">
                                    <strong class="DC_global_name u-format-max-text"></strong>
                                 </a>
                              </div>
                           </div>

                           <div class="input mb-1 w-50">
                              <label class="col-form-label p-0 discordAppProfile_text"></label>
                              <div class="input-group">
                                 <a class="d-flex align-items-center text-decoration-none">
                                    <img src="sysfssrc://img/profile-icon.png" alt="" width="50" height="50"
                                       class="DC_appicon MM rounded-circle me-2">
                                    <strong class="DC_app_name u-format-max-text"></strong>
                                 </a>
                              </div>
                           </div>

                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>