<div class="container container-hide-control container-soundpad mt-1 mb-1 animate__animated container-animated-style" style="display: none;">
   <div class="THCG-CT full-h container rounded px-3 py-3" id="featured-3">
      <div class="auto-scrool">
         <div class="pb-2 d-flex border-bottom">
            <h2 class="btn-full-w soundpad_icon Svg30px"></h2>
            <div class="input-group">
               <button class="btn btn-primary update_icon bnt-top-title-ma" type="button"
                  id="bnt_soundpad_get_list"></button>
            </div>
         </div>

         <div class="row g-4 py-2 row-cols-1 row-cols-lg-1">
            <div class="feature col">

               <div class="input mb-3">
                  <label for="obs-wss-port" class="col-form-label p-0 PswSpeiisycutic_text"></label>
                  <div class="input-group">
                     <input disabled type="text" id="local-path-soundpad" class="form-control"
                        placeholder="Path">
                     <input type="file" class="form-control hidden" id="input-exe-soundpad" accept=".exe">
                     <button class="btn btn-primary select_path_SoundPad_text" type="button"
                        id="btn-select-soundpad-exe"></button>
                     <button class="btn btn-primary To_check_text" type="button"
                        id="check-soundpad-exe"></button>
                  </div>
               </div>

               <div class="table-responsive text-nowrap"></div>
               <div class="input-group mb-2">
                  <button class="btn btn-secondary" type="button"><span class="bi bi-search"></span></button>
                  <input type="text" name="LKMSPfoo_filter" id="LKMSPfoo_filter"
                     class="form-control foo_filter" placeholder="Procurar...">
               </div>
               <div class="theme-bg-blur">
                  <table class="table footable border rounded" data-page-size="15" data-filter="#LKMSPfoo_filter">

                     <thead>
                        <tr>
                           <th>#</th>
                           <th class="name_text"></th>
                           <th class="artist_text"></th>
                           <th class="duration_text"></th>
                           <th class="date_created_text"></th>
                           <th class="options_text"></th>
                        </tr>
                     </thead>

                     <tbody class="TRB-ListSoundsSoundpad">
                     </tbody>

                     <tfoot>
                        <tr>
                           <td colspan="6" class="border-0">
                              <ul class="pagination">
                              </ul>
                           </td>
                        </tr>
                     </tfoot>

                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>