<div class="container container-hide-control container-web-pages mt-1 mb-1 animate__animated container-animated-style" style="display: none;">
   <div class="THCG-CT full-h container rounded px-3 py-3" id="featured-3">
      <div class="auto-scrool">
         <div class="pb-2 d-flex border-bottom">
            <h2 class="btn-full-w web_pages_text_icon"></h2>
            <div class="input-group">
               <button type="button" data-bs-toggle="modal" data-bs-target="#modal-webpage"
                  id="button-add-webpage" class="btn btn-primary add_webpage_text bnt-top-title-ma"></button>
            </div>
         </div>
         <div class="row g-4 py-2 row-cols-1 row-cols-lg-1">

            <div class="feature col">
               <div class="table-responsive text-nowrap"></div>
               <div class="input-group mb-2">
                  <button class="btn btn-secondary" type="button"><span class="bi bi-search"></span></button>
                  <input type="text" name="LWPfoo_filter" id="LWPfoo_filter" class="form-control foo_filter"
                     placeholder="Procurar...">
               </div>
               <div class="theme-bg-blur">
                  <table class="table list-web-pages footable border rounded" data-page-size="15"
                     data-filter="#LWPfoo_filter">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th class="open_text"></th>
                           <th class="icon_text"></th>
                           <th class="name_text"></th>
                           <th>Url</th>
                           <th>Status</th>
                           <th class="options_text"></th>
                        </tr>
                     </thead>
                     <tbody>

                     </tbody>

                     <tfoot>
                        <tr>
                           <td colspan="6" class="border-0">
                              <ul class="pagination">
                              </ul>
                           </td>
                        </tr>
                     </tfoot>
                  </table>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>