body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.header-buttons {
    position: absolute;
    display: flex;
    padding: 5px;
}
.header-buttons > button {
    margin-right: 5px;
}

main {
    width: 96% !important;
}

.exe-list {
    display: flex;
    justify-content: center;   
}

.exe-list li {
    margin: 1vh;
    width: 31vh;
    height: 35vh;
    border-radius: 3vh;
    transition: all .2s;
}

.div-text-name-exe{
    display: grid;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 100%;
    margin-top: auto;
    height: 9vh;
    font-size: 21px;
    align-items: center;
}

.div-content-img-exe {
    margin-top: 2vh;
}

.img-exe {
    width: 24vh;
    height: 24vh;
    max-height: 24vh;
    max-width: 24vh;
    border-radius: 3vh;
}

.horizontalMode {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}