<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Under Deck</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/src/img/under-icon.png">
  <link href="/src/bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/bootstrap-5.0.2/css/bootstrap-icons.css">
  <link href="/Views/WebDeck/view/css/index.css" rel="stylesheet">
  <style id="custom-style"></style>
</head>

<body class="bg-black">
  <div class="sidebar d-flex flex-column flex-shrink-0 p-1 pt-0 pb-0 text-white bg-dark">
    <i class="bi bi-headphones set-rotetionS"></i>
    <div class="range-slider">
      <input id="range-volume" class="input-range" orient="vertical" type="range" value="0" min="0" max="100">
    </div>
    <span id="range-volume-demo" class="set-rotetionS">0</span>
  </div>

  <main style="display: none;" class="container-xxl bd-gutter" id="contentDefault">
    <div class="my-5">
      <ul id="exe-list" class="exe-list row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
      </ul>
    </div>
  </main>

  <main style="display: none;" class="webdeck-container" id="contentGrid">
    <div class="WUD-grid">

    </div>
  </main>

  <header class="header-buttons">
    <button type="button" class="btn btn-xs btn-secondary border border-dark bnt-refreshList">
      <i class="bi bi-arrow-clockwise"></i>
    </button>
    <button type="button" class="btn btn-xs btn-secondary border border-dark bnt-fullscreen">
      <i class="bi bi-fullscreen"></i>
    </button>
    <button type="button" class="btn btn-xs btn-secondary border border-dark bnt-rotetionMode">
      <i class="bi bi-distribute-horizontal"></i>
    </button>
  </header>
</body>


<script src="/src/jquery/jquery.min.js"></script>
<script src="/src/NoSleep/js/NoSleep.js"></script>
<script src="/Views/WebDeck/view/js/index.js"></script>
<script src="/Views/WebDeck/view/js/NoSleep.js"></script>

</html>