<div class="container container-hide-control container-home mt-1 mb-1 animate__animated container-animated-style">
   <div class="THCG-CT full-h container rounded px-3 py-3" id="featured-3">
      <div class="auto-scrool">
         <div class="pb-2 d-flex border-bottom">
            <h2 class="btn-full-w apps_name_icon"></h2>
            <div class="input-group">
               <button class="btn btn-primary add_text_icon bnt-top-title-ma btn-ClearDataAddApp" data-bs-toggle="modal"
                  data-bs-target="#modal-add-app" type="button"
                  id="bnt_modal_add_app"></button>
            </div>
         </div>
         <div class="row g-4 py-3 row-cols-1 row-cols-lg-1">
            <div class="feature col">
               <div class="row row-cols-1 row-cols-md-5 g-2 list_apps content-files-add"></div>
            </div>
         </div>
      </div>
   </div>
</div>