<div class="container container-hide-control container-devices mt-1 mb-1 animate__animated container-animated-style" style="display: none;">
   <div class="THCG-CT full-h container rounded px-3 py-3" id="featured-3">
      <div class="auto-scrool">
         <div class="pb-2 d-flex border-bottom">
            <h2 class="btn-full-w devices_text_icon"></h2>
            <div class="input-group">
               <button type="button"
                  id="button-list-device"
                  class="btn btn-primary update_icon bnt-top-title-ma"></button>
            </div>
         </div>

         <div class="row g-4 py-2 row-cols-1 row-cols-lg-1">
            <div class="feature col">
               <div class="card none-border bg-secondary text-light mb-2">
                  <div class="card-header" id="headingDLP">
                     <h5 class="mb-0">
                        <button class="btn btn-secondary btn-sm full-w" data-toggle="collapse" data-target="#collapseDLP" aria-expanded="true" aria-controls="collapseDLP"><i class="bi bi-r-circle-fill"></i> Logs</button>
                     </h5>
                  </div>
                  <div id="collapseDLP" class="collapse" aria-labelledby="headingDLP" data-parent="#accordion">
                     <div class="card-body rounded-bottom LOGSDLP">
                     </div>
                  </div>
               </div>
               <div class="row row-cols-1 row-cols-md-5 g-2 CLD_DevicesEsp32 ui-sortable"></div>
            </div>
         </div>
      </div>
   </div>
</div>