<div
   class="container container-hide-control container-webunderdeck mt-1 mb-1 animate__animated container-animated-style"
   style="display: none;">
   <div class="THCG-CT full-h container rounded px-3 py-3" id="featured-3">
      <div class="auto-scrool">
         <h2 class="pb-2 border-bottom d-flex webdeck_text_icon"></h2>

         <div class="cards-area aos-init aos-animate" data-aos="fade-down">
            <div class="row">

               <div class="col-md-12 col-xl-12 animate__animated animate__slideInTop">
                  <div class="card theme-card">
                     <div class="card-header shadow-text text-center">
                        <h5 class="web_stream_deck_text "></h5>
                     </div>

                     <div class="card-body">
                        <div class="forms">

                           <div class="card none-border bg-secondary text-light">
                              <div class="card-header" id="headingAP">
                                 <h5 class="mb-0">
                                    <button class="btn btn-secondary btn-sm webdeck_local_version_text full-w"
                                       data-toggle="collapse" data-target="#collapseUNDVL" aria-expanded="true"
                                       aria-controls="collapseUNDVL">
                                    </button>
                                 </h5>
                              </div>

                              <div id="collapseUNDVL" class="collapse show" aria-labelledby="headingAP"
                                 data-parent="#accordion">
                                 <div class="card-body rounded-bottom">

                                    <div class="feature mt-1 mb-2 col">
                                       <div class="alert alert-por-local-server-modal alert-danger hidden" role="alert">
                                       </div>
                                    </div>

                                    <div class="feature mb-2 col">
                                       <a class="btn w100 btn-success btn-sm m-0 start_text" type="button"
                                          id="button-start-local-server"></a>
                                    </div>

                                    <div class="m-0 mb-2">
                                       <label for="port-local-server" class="form-check-label door_text_expc_1"></label>
                                       <div class="input-group">
                                          <input type="number" id="port-local-server"
                                             class="form-control input_select_all placeholder-port" placeholder=""
                                             aria-label="" aria-describedby="button-addon2">
                                          <button class="btn btn-primary btn-SavedataLocalServer save_text"
                                             type="button"></button>
                                       </div>
                                    </div>

                                    <div class="m-0 mb-2">
                                       <label for="local-server-adress-acess-url"
                                          class="form-check-label url_text_expc_1"></label>
                                       <div class="input-group">
                                          <input type="text" id="local-server-adress-acess-url"
                                             class="form-control input_select_all desable_texting_input" placeholder=""
                                             aria-label="" aria-describedby="button-addon2">
                                          <button class="btn btn-primary open_text btn-OpenLocalServerInBrowser"
                                             type="button"></button>
                                          <button class="btn btn-primary btn-modalQrCodeLocalServerUrl" type="button">QR
                                             Code</button>
                                       </div>
                                    </div>

                                    <div class="m-0 text-center">
                                       <label class="form-check-label customization_text"></label>
                                    </div>

                                    <div class="m-0 mb-2">
                                       <label class="form-check-label background_color_text"></label>
                                       <div class="input-group">
                                          <input type="color" id="webdeck_background_color" class="form-control">
                                       </div>
                                    </div>

                                    <div class="m-0 mb-2">
                                       <label class="form-check-label color_text_text"></label>
                                       <div class="input-group">
                                          <input type="color" id="webdeck_color_text" class="form-control">
                                       </div>
                                    </div>

                                    <div class="m-0 text-center">
                                       <button id="reset_to_default_webdeck_colors"
                                          class="btn btn-primary btn-sm reset_to_default_text" type="button"></button>
                                    </div>

                                 </div>
                              </div>
                           </div>

                           <hr>

                           <div class="card none-border bg-secondary text-light">
                              <div class="card-header" id="headingAP">
                                 <h5 class="mb-0">
                                    <button class="btn btn-secondary btn-sm webdeck_remote_version_text full-w"
                                       data-toggle="collapse" data-target="#collapseUNDVR" aria-expanded="true"
                                       aria-controls="collapseUNDVR">
                                    </button>
                                 </h5>
                              </div>

                              <div id="collapseUNDVR" class="collapse show" aria-labelledby="headingAP"
                                 data-parent="#accordion">
                                 <div class="card-body rounded-bottom">

                                    <div class="m-0 text-center mb-2">
                                       <label class="form-check-label w100 connection_invitation_text"></label>
                                       <div class="input-group">
                                          <input type="text" value="N/A"
                                             class="form-control input_select_all desable_texting_input underdeck_url_invite_remote_version"
                                             placeholder="" aria-label="" aria-describedby="button-addon2">
                                          <button id="openInvitationUNDRemotVersion"
                                             class="btn btn-primary btn-sm open_text" type="button"></button>
                                          <button id="openInvitationQRCODEUNDRemotVersion" class="btn btn-primary"
                                             type="button">QR Code</button>
                                       </div>
                                    </div>
                                    <div class="m-0 text-center">
                                       <button id="revoke_all_permissions_UNDRemoteVersion"
                                          class="btn btn-primary btn-sm revoke_all_permissions_text"
                                          type="button"></button>
                                       <button id="list_all_permissions_UNDRemoteVersion"
                                          class="btn btn-primary btn-sm ml-1 list_all_permissions_text"
                                          type="button"></button>
                                    </div>

                                 </div>
                              </div>
                           </div>

                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-12 col-xl-8 animate__animated animate__slideInLeft">
                  <div class="card theme-card">
                     <div class="card-header shadow-text text-center">
                        <h5 class="preview_icon_text"></h5>
                     </div>

                     <div class="card-body p-0">
                        <div class="w100 pt-0_5em d-flex">
                           <button id="pvw-wbdc-page-name" class="btn btn-sm btn-light m-auto" type="button"></button>
                        </div>
                        <div class="card-oracle-cards wendeckpreview">
                           <span class="m-auto"><i class="gg-spinner text-white float-inline-start"></i></span>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-12 col-xl-4 animate__animated animate__slideInRight">
                  <div class="card theme-card">
                     <div class="card-header shadow-text text-center d-flex">
                        <h5 class="settings_text_icon_HVRT d-flex m-auto"></h5>
                     </div>

                     <div class="card-body">

                        <div class="forms">

                           <div class="select mb-3">
                              <label class="form-check-label Display_mode_text"></label>
                              <select id="change-webdeck-view" class="form-select">
                                 <option value="default" class="default_text"></option>
                                 <option value="3x2">3x2</option>
                                 <option value="5x3">5x3</option>
                                 <option value="8x4">8x4</option>
                              </select>
                           </div>

                           <div class="select mb-3">
                              <label class="form-check-label Display_mode_list_text"></label>
                              <select id="change-webdeck-mode-list-view" class="form-select">
                                 <option value="default" class="Automatically_list_items"></option>
                                 <option value="custom" class="Custom_text"></option>
                              </select>
                           </div>

                           <div class="select mb-3">
                              <button class="btn btn-primary listWebDeckPages list_webdeck_pages_text full-w">
                              </button>
                           </div>

                        </div>

                     </div>
                  </div>
               </div>

            </div>
         </div>

      </div>
   </div>
</div>